*{margin: 0px;
padding: 0px;
box-sizing: border-box;}


header {font-family: Garamond, serif;
position: fixed;
z-index: 1;
border: 3px black solid;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: baseline;
width: 100% ;
padding: 2.5rem;
background-color:#000000;
opacity: 0.8;
color: #fefcfc;}

header a {color: #fefcfc;}

nav a {text-decoration: none;}

nav{display:flex;
flex-wrap: wrap;
align-items: center;
gap: 2.5rem;}

.feature { border: 3px black solid;
background-size: cover;
height: 100vh;
background-color: s#f3f9e2;
position: relative;}

.ds{background-image: url(https://images2.alphacoders.com/895/thumb-1920-895681.jpg);}

.bb{background-image: url(https://images3.alphacoders.com/103/thumb-1920-1031859.jpg);}

.er{background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/7712.jpg);}

.cta-box{ border:black 2px solid; 
background-color:rgba(0, 0, 0, 0.3);
display: flex;
left: 100px;
position: absolute;
bottom: 150px;
color: #fefcfc;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
width: 350px;
height: 100px;}

button{background-color: #fefcfc;
padding: 5px;
border-radius: 10%;
border: #fefcfc 3px solid;}

.cta-button:hover{background-color:aliceblue;
opacity: 0.9;}


button a {text-decoration: none;
color: black;}

footer{background-color: #120106;
color: #fefcfc;
display: flex;
justify-content: center;}

html{scroll-behavior: smooth;}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
    background-color: unset;
    border: none;
    transition: 0.2s ease-out;
    }

.back-to-top a img { width: 30px;
    height: 30px;}


